[submodule "react-components"]
	path = react-components
	url = git@github.com:Verbozeteam/react-components.git
[submodule "js-api-utils"]
	path = js-api-utils
	url = https://github.com/Verbozeteam/js-api-utils.git
